* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------------------------------*/
/*             HEADER               */
/*----------------------------------*/

.nav-item {
    margin-right: 10%;
    margin-left: 10%;
}

.card-comment img {
    width: 4rem;
}
